*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4D2D32;
    text-align: center;
}
.heading{
    color: white;
    margin-top: 5%;
}
.container{
    height: 70vh;
}
.game{
    height: 1%;
}
.box{
    height: 100px;
    width: 100px;
    gap: 0px;

}